@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

* {
    font-family: 'Pokemon Solid', sans-serif;
}


#userSection{
    margin-bottom: 10em;
}

#searchSection{
    margin-bottom: 2em;
}

#optionSection{
    margin-bottom: 5em;
}
#pokeList {
    width: 300px;
    height: 200px;
    overflow: auto
}

#search {
    margin-bottom: 1em;
}

.closeBtn{
    margin-left: 1em;
}


#root{
    margin: 5% 0 0 30%;
   
}

#typesSection{
    margin: 5% 0 0 30%;
}